# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.csharp.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\samuel.evans\WebstormProjects\code-wars\csharp\.idea\.idea.csharp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
